body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.music-container {
  width: 400px;
  text-align: center;
}

.progress-container {
  height: 4px;
  width: 100%;
  background-color: lightslategrey;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  cursor: pointer;
}

.progress {
  background-color: rgb(32, 67, 133);
  width: 45%;
  height: inherit;
  border-radius: inherit;
  transition: 0.4s;
}
